body {
    background: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(C:\Users\Оля\Downloads/HelveticaNeue.ttf);

}

.main-block {
    width: 910px;
    margin: 0 auto;
}

/*HEDER*/

heder {
	margin: 21px 9px 11px 6px;
    display: flex;
}

.tell {
    width: 307px;
    margin-top: 7px;
    font-size: 18px;
    display: flex;
}

.tell img {
	width: 23px;
    height: 21px;
    margin-right: 3px;
}

.tell p {
	letter-spacing: 1px;
    margin: 0;
    font-size: 17px;
}

.log_in {
    margin-left: 3px;
    border-radius: 5px;
    box-shadow: 2px 1px 6px #13466a;
    display: flex;
    align-items: center;
    width: 495px;
    background: #114266;
}

.log_in img {
    padding: 0 5px;
    height: 19px;
    width: 15px;
}

.log {
	display: flex;
    align-items: center;
}

.in {
	border-right: 1px solid #fff;
}

.in a {
	margin-right: 6px;
	text-decoration: none;
	color: #fff;
	font-size: 11px;
}

.reg a {
	margin-left: 4px;
	text-decoration: none;
	color: #fff;
	font-size: 11px;
}

.pass a {
	margin-left: 22px;
	color: #c2b5b5;
	font-size: 11px;
}

.reg a {

}

input[type="text"] {
    height: 9px;
    width: 110px;
    margin-right: 7px;
    padding: 2px 0;
}

input[type="text"]::-webkit-input-placeholder {
    padding-left: 5px;
    color: #000;
    font-size: 8px;
}

.map_site {
	margin: 2px 0 0 12px;
}

.nav_menu {
    margin-top: 5px;
    background-image: url(../img/panel.png);
    display: flex;
    border-radius: 7px;
}

.nav_menu ul {
    margin: 10px 0 10px 93px;
	display: flex;
	list-style-type: none;
}

.nav_menu li {
    font-size: 14px;
    list-style-type: none;
}

.nav_menu a {
	padding: 3px 14px;
	text-decoration: none;
    color: #fff;
}

.nav_menu a:hover {
	background-color: #154b6d;
	border-radius: 25px;

}

.nav_menu p {
	margin: 0;
    padding-right: 8px;
	color: #0d5a8f;
}

.order {
    width: 225px;
    margin-left: 56px;
    display: flex;
    align-items: center;
}

.order a {
    padding: 5px;
    font-size: 11px;
    text-decoration: none;
    color: #fff;
}

/*CONTENT*/

.head {
    display: flex;
    align-items: center;
}

.head h3, h2 {
    margin: 0 10px;
}
.left_search {
    border: 1px solid;
    width: 350px;
    border-radius: 16px;
}

form {
    display: flex;
}

form p {
    margin: 0;
}

form select {
    width: 100px;
}

/*SIDEBAR*/

.sidebar_left p {
    margin: 4px;
}

.sidebar_left li {
    line-height: 25px;
    font-size: 13px;
}

.sidebar_left ul {
    margin: 0;
}

.katalog,
.brends {
    border-radius: 25px;
    border: 1px solid;
    width: 177px;
    display: flex;
}

.katalog p,
.brends p {
    margin: 5px;
    font-size: 13px;
}

.katalog img,
.brends img {
    margin: 1px;
    height: 21px;
    width: 21px;
}

.bus,
.disk,
.bolts {
    border-radius: 15px;
    border: 1px solid;
    width: 148px;
    display: flex;
    font-size: 15px;
}


.bus {
    margin-top: 14px;
}

.bus img, 
.disk img,
.bolts img {
    height: 23px;
    width: 23px;
    margin: 1px 0 0 3px;
}


.name li {
    list-style-type: circle;
}