@font-face {
    font-family: Arial, sans-serif;
    src: url(../fonts/Lucida Sans Unicode Regular.ttf);
    src: url(../fonts/arialbi.ttf);

}

body {
    background: #fff;
    font-family: 'Lucida Sans Unicode Regular';
    font-size: 12px;
}

.main-block {
    width: 910px;
    margin: 0 auto;
}

/*HEDER*/

heder {
    display: flex;
    margin: 21px 0 11px 6px;
}

.tell {
    display: flex;
    width: 307px;
    margin-top: 2px;
}

.tell img {

    margin-right: 3px;
}

.tell p {
    margin: 0;
    font-size: 19px;
    letter-spacing: 1px;
}

.log_in {
    display: flex;
    align-items: center;
    width: 495px;
    border-radius: 5px;
    background: #114266;
    box-shadow: 2px 1px 6px #13466a;
}

.log_in img {
    width: 15px;
    height: 19px;
    padding: 0 5px;
}

.log {
    display: flex;
    align-items: center;
}

.in {
    border-right: 1px solid #fff;
}

.in a {
    margin: 4px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.reg a {
    margin: 7px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.pass a {
    margin-left: 19px;
    color: #c2b5b5;
    font-size: 15px;
}

input[type="text"] {
    width: 110px;
    height: 9px;
    margin-right: 7px;
    padding: 2px 0;
}

input[type="text"]::-webkit-input-placeholder {
    padding-left: 5px;
    color: #000;
    font-size: 8px;
}

.map_site {
    display: flex;
    align-items: center;
    width: 76px;
    margin-left: 19px;
    border: 1px solid #9e9e9e;
    border-radius: 13px;
    box-shadow: 8px 7px 8px -8px #9e9e9e;
}

.map_site a {
    margin: 0 5px;
}

.nav_menu {
    display: flex;
    margin-top: 2px;
    border-radius: 7px;
    background-image: url(../img/panel.png);
}

.nav_menu ul {
    display: flex;
    margin: 10px 0 10px 92px;
    list-style-type: none;
}

.nav_menu li {
    font-size: 14px;
    list-style-type: none;
}

.nav_menu a {
    padding: 3px 14px;
    color: #b4afaf;
    text-decoration: none;
}

.nav_menu ul a:hover {
    border-radius: 25px;
    background-color: #154b6d;
    color: #fff;
}

.nav_menu p {
    margin: 0;
    padding-right: 14px;
    color: #0d5a8f;
    font-size: 14px;
}

.order {
    display: flex;
    align-items: center;
    width: 225px;
    margin-left: 56px;
}

.order a {
    padding: 5px;
    color: #b4afaf;
    font-size: 12px;
    text-decoration: none;
}

/*CONTENT*/

.head {
    display: flex;
    align-items: center;
}

.head h3,
.head h2 {
    margin: 0 10px;
}

.left_search {
    width: 350px;
    border: 1px solid;
    border-radius: 16px;
}

form {
    display: flex;
}

form p {
    margin: 0;
}

form select {
    width: 100px;
}

/*CONTAINER*/

.container {
    width: 412px;
    margin: 12px 6px;
    border: 1px solid #9e9e9e;
    border-radius: 14px;
    box-shadow: 8px 7px 10px -5px #9e9e9e;
    font-size: 10px;
}

.container p {
    color: #9e9e9e;
}

.head_panel {
    display: flex;
    color: #13466a;
}

h3 {
    margin: 0px 61px;
}

h4 {
    margin: 3px 16px;
}

.marka_avto {
    display: flex;
}

.model_avto,
.year_issue,
.equipment {
    display: flex;
    margin-top: 3px;;
}

.marka_avto span {
    margin: 4px 0 0 15px;
}

.model_avto span {
    margin: 0 46px 0 14px;
}

.equipment span {
    margin: 4px 15px;
}

.marka_avto p {
    margin: 4px 25px 4px 5px;
}

.marka_avto select,
.model_avto select,
.equipment select {
    width: 101px;
    margin-right: 10px;
}

.year_issue select {
    width: 58px;
    margin-right: 55px;
    margin-left: 24px;
}

.year_issue span {
    margin-left: 15px;
}

.left_text_panel,
.right_text_panel {
    display: flex;
    flex-direction: column;
}

.left_text_panel p,
.right_text_panel p {
    margin: -3px 0 0 15px;
}

.foot_search {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.foot_search a {
    margin: 2px 0 9px 321px;
}

/*SIDEBAR*/

.sidebar {
    display: flex;
    margin-top: 18px;
}

.sidebar_left {
    margin-right: 10px;
}

.sidebar_left p,
.sidebar_right p {
    margin: 4px 3px;
    color: #325473;
}

.sidebar_left ul {
    margin: 0;
}

.sidebar_left li {
    font-size: 13px;
    line-height: 25px;
}

.sidebar_left a {
    color: #465961;
    text-decoration: none;
}

.sidebar_left a:hover {
    font-family: 'arialbi';
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.sidebar_left .bus,
.sidebar_left .disk,
.sidebar_left .bolts {
    display: flex;
    width: 148px;
    border: 1px solid #9e9e9e;
    border-radius: 15px;
    font-size: 15px;
}

.sidebar_center {
    width: 525px;
    background: linear-gradient(to top, #93a7b0, #e4e7e8);
}

.one_line,
.two_line,
.three_line {
    display: flex;
}

figure {
    margin: 11px 5px 10px 23px;
}

figcaption {
    margin-left: 37px;
    color: #114165;
    font-family: 'arialbi';
    font-size: 18px;
    font-weight: 900;
}

.sidebar_right {
    margin-left: 11px;
}

.sidebar_right label {
    display: flex;
    align-items: center;
    margin-left: 23px;
    color: #465961;
    font-size: 13px;
    line-height: 26px;
}

.sidebar_right .bus,
.sidebar_right .disk {
    display: flex;
    width: 136px;
    margin-top: 12px;
    margin-left: 12px;
    border: 1px solid #9e9e9e;
    border-radius: 15px;
    font-size: 15px;
}

input[type=checkbox] {
    width: 11px;
    height: 11px;
    margin-right: 12px;
    box-shadow: inset 3px 2px 2px #465961;
}

input[type=submit] {
    margin: 14px 20px;
    padding: 5px 15px;
    border-radius: 13px;
    outline: none;
    background: #154b6d;
    color: #fff;
}

.katalog,
.brends {
    display: flex;
    width: 180px;
    border: 1px solid #9e9e9e;
    border-radius: 25px;
    box-shadow: 8px 7px 10px -5px #9e9e9e;
}

.katalog p,
.brends p {
    margin: 6px 5px;
    font-size: 13px;
}

.katalog img,
.brends img {
    width: 21px;
    height: 21px;
    margin: 1px;
}

.bus {
    margin-top: 14px;
}

.bus img,
.disk img,
.bolts img {
    width: 23px;
    height: 23px;
    margin: 1px 0 0 3px;
}


.name li {
    list-style-type: circle;
}

.stamps {
    display: inline-block;
    margin-top: 42px;
    margin-left: 112px;
}

.stamps img {
    margin: 0 7px 0 6px;
    float: left;
}

.three_line {
    margin-bottom: 15px;
}

/*FOOTER*/

footer {
    margin-top: 20px;
    background-color: #213a4d;
}

.foot_menu {
    padding-bottom: 50px;
}

.foot_menu ul {
    display: flex;
    margin-left: 257px;
}

.foot_menu li {
    margin: 9px 0 0 0;
    border-right: 1px solid #fff;
    list-style-type: none;
}

.foot_menu a {
    margin: 16px;
    color: #fff;
    text-decoration: none;
}

.foot_menu a:hover {
    color: #4d9fbd;
}

li.foot_contact {
    border: 0;
}

.foot_menu span {
    display: block;
    color: #704543;
    font-size: 11px;
    text-align: center;
}