@font-face {
    font-family: 'LucidaSansUnicodeRegular';
    src: url('../fonts/LucidaSansUnicodeRegular.ttf');
}

@font-face {
    font-family: 'arialbi';
    src: url('../fonts/arialbi.ttf');
}

@font-face {
    font-family: 'arialbl';
    src: url('../fonts/ariblk.ttf');
}

@font-face {
    font-family: 'Arial-Regular.ttf';
    src: url('../fonts/Arial-Regular.ttf');
}


body {
    background: #fff;
    font-family: 'LucidaSansUnicodeRegular';
    font-size: 12px;
}

.main-block {
    width: 910px;
    margin: 0 auto;
}

/*HEDER*/

heder {
    display: flex;
    margin: 22px 0 11px 6px;
}

.tell {
    display: flex;
    width: 307px;
    margin-top: 5px;
    font-family: 'Arial-Regular.ttf';
}

.tell img {

    margin-right: 3px;
}

.tell p {
    font-weight: bold;
    margin: 0 1px;
    color: #5e696d;
    font-size: 17px;
    letter-spacing: 1px;
}

.log_in {
    display: flex;
    align-items: center;
    width: 494px;
    border-radius: 5px;
    background: #114266;
    box-shadow: 2px 1px 6px #13466a;
}

.log_in img {
    width: 14px;
    height: 18px;
    padding: 0 5px;
}

.log {
    display: flex;
    align-items: center;
}

.in {
    border-right: 1px solid #fff;
}

.in a {
    margin-right: 5px;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
}

.reg a {
    margin-right: 19px;
    margin-left: 5px;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
}

.pass a {
    color: #c2b5b5;
    font-size: 11px;
    letter-spacing: 1px;
}

input[type="text"] {
    width: 110px;
    height: 9px;
    margin-right: 7px;
    padding: 2px 0;
}

input[type="text"]::-webkit-input-placeholder {
    padding-left: 5px;
    color: #000;
    font-size: 8px;
}

.map_site {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 20px;
    margin-left: 16px;
    border: 1px solid #9e9e9e;
    border-radius: 13px;
    box-shadow: 8px 7px 8px -8px #9e9e9e;
}

.map_site a {
    margin: 0 5px;
}

.nav_menu {
    display: flex;
    margin-top: 3px;
    border-radius: 7px;
    background-image: url('../img/panel.png');
    background-repeat: no-repeat;
}

.nav_menu ul {
    display: flex;
    margin: 10px 0 10px 92px;
    list-style-type: none;
}

.nav_menu li {
    font-size: 14px;
    list-style-type: none;
}

.nav_menu a {
    padding: 0 13px;
    color: #b4afaf;
    text-decoration: none;
}

.nav_menu ul a:hover {
    border-radius: 25px;
    background-color: #154b6d;
    color: #fff;
}

.nav_menu p {
    margin: 0;
    padding-right: 3px;
    color: #0d5a8f;
    font-size: 12px;
}

.order {
    display: flex;
    align-items: center;
    width: 225px;
    margin-left: 56px;
}

.order a {
    padding: 2px 1px 0 8px;
    color: #b4afaf;
    font-size: 11px;
    text-decoration: none;
}

p.summ {
    margin: 0 0 0 13px;
}

/*CONTENT*/

.head {
    display: flex;
    align-items: center;
}

.head h3,
.head h2 {
    margin: 0 10px;
}

.left_search {
    width: 350px;
    border: 1px solid;
    border-radius: 16px;
}

form {
    display: flex;
}

form p {
    margin: 0;
}

form select {
    width: 100px;
}

/*CONTAINER*/

.container {
    display: flex;
}

.container p {
    color: #8d999d;
}

.container select {
    height: 18px;
}

.search_avto {
    width: 412px;
    margin: 10px 0 0 6px;
    border: 1px solid #9e9e9e;
    border-radius: 16px;
    font-size: 10px;
    box-shadow: 7px 6px 7px -4px #9e9e9e;
}

.search_bus {
    width: 190px;
    margin: 10px 0 0 14px;
    border: 1px solid #9e9e9e;
    border-radius: 16px;
    font-size: 10px;
    box-shadow: 7px 6px 7px -4px #9e9e9e;
}

.head_panel {
    display: flex;
    color: #154467;
}

h3 {
    margin: 0 53px 0 48px;
    font-size: 14px;
}

h4 {
    margin: 4px 19px;
    font-size: 12px;
}

.search_disks {
    display: flex;
    width: 267px;
    margin: 10px 0 0 10px;
    border: 1px solid #9e9e9e;
    border-radius: 16px;
    font-size: 11px;
    box-shadow: 7px 6px 7px -4px #9e9e9e;
}

.search_disks h3 {
    margin: 0 9px;
    font-size: 15px;
}

.search_disks p {
    margin: -2px 9px 0 0;
    color: #8d999d;
}

.search_disks .foot_search a {
    display: block;
    margin: 2px 0 0 20px;
    color: #154467;
}

.border {
    border-right: 1px solid #8d999d;
}

.border p {
    font-size: 9px;
}

.diametr_disk,
.numb_fastner,
.diametr_place {
    display: flex;
}

.under_text {
    display: flex;
    flex-direction: column;
    margin: 1px 3px 0 15px;
}

.diametr_disk span {
    margin: 6px 0 0 15px;
}

.diametr_disk  select {
    width: 58px;
    height: 18px;
    margin: 2px 11px 0 6px;
 }

.diametr_disk p {
    margin: 5px 4px 0 4px;
    color: #8d999d;
}

.numb_fastner select {
    width: 51px;
    height: 18px;
    margin: 13px 0 0 26px;
}

.diametr_place select {
    width: 58px;
    height: 18px;
    margin: 13px 0 0 15px;
}

.diametr_place .under_text {
    display: flex;
    flex-direction: column;
    margin: 1px 0 0 16px;
}

.DCO .under_text {
    margin: 3px 0 0 8px;
}

.DCO p {
    color: #8d999d;
    font-size: 9px;
}

.DCO select {
    width: 58px;
    height: 18px;
    margin: 1px 10px;
}

.ET {
    margin: 4px 0 0 10px;
}

.ET select {
    width: 58px;
    height: 18px;
    margin: 3px 0;
}

.ET p {
    color: #8d999d;
    font-size: 8px;
}

.marka_avto {
    display: flex;
}

.model_avto,
.year_issue,
.equipment {
    display: flex;
    margin-top: 2px;
}

.marka_avto span {
    margin: 4px 0 0 16px;
}

.equipment span {
    margin: 3px 2px 0 17px;
}

.marka_avto p {
    margin: 4px 0 0 2px;
}

.marka_avto select {
    width: 101px;
    margin-right: 11px;
    margin-left: 18px;
}

.equipment select {
    width: 101px;
    margin-right: 11px;
}

.model_avto select {
    width: 101px;
    margin-right: 11px;
    margin-left: 21px;
}

.year_issue select {
    width: 58px;
    margin-right: 55px;
    margin-left: 15px;
}


.left_text_panel,
.right_text_panel {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.left_text_panel p,
.right_text_panel p {
    margin: 0;
    font-size: 9px;
}

.foot_search {
    font-size: 14px;
}

.foot_search a {
    display: block;
    margin: 2px 0 7px 340px;
    color: #154467;
    font-style: italic;
}

.search_bus .foot_search a {
    margin-left: 120px;
    color: #154467;
}

.search_bus h3 {
    margin: 1px 10px;
    font-size: 13px;
}

.size {
    display: flex;
}

.size select {
    width: 50px;
    margin: 5px 5px 0 11px;
}

.size span {
    margin: 12px 0 0 12px;
}

.slash {
    margin-top: 7px;
}

.slash p {
    margin: 0;
}

.R {
    display: flex;
}

.R span {
    margin: 9px 7px 0 45px;
}

.R select {
    width: 45px;
    margin-top: 5px;
}

.sezon {
    display: flex;
}

.sezon_box {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    font-size: 12px;
}

.sezon_box label {
    display: flex;
}

.sezon .left_panel {
    margin: 2px 14px 0 15px;
}

.sezon input[type="checkbox"] {
    margin: 0;
}

/*SIDEBAR*/

.sidebar {
    display: flex;
    margin-top: 15px;
}

.sidebar_left {
    margin-top: 2px;
    margin-right: 10px;
}

.sidebar_left p {
    margin: 5px 3px;
    color: #325473;
}

.sidebar_right p {
    margin: 5px 4px;
    color: #325473;
}

.sidebar_left ul {
    margin: 0;
}

.sidebar_left li {
    line-height: 25px;
}

.sidebar_left a {
    color: #104064;
    text-decoration: none;
}

.sidebar_left li:hover {
    transition: .2s, all;
    color: #325473;
    font-family: 'arialbi';
    font-size: 14px;
    text-decoration: underline;
}

.sidebar_left .bus,
.sidebar_left .disk,
.sidebar_left .bolts {
    display: flex;
    width: 150px;
    border: 1px solid #9e9e9e;
    border-radius: 15px;
    font-size: 14px;
}

.sidebar_center {
    width: 525px;
    background: linear-gradient(to top, #93a7b0, #e4e7e8);
}

.one_line,
.two_line,
.three_line {
    display: flex;
}

.one_line figure {
    margin: 12px 6px 7px 22px;
}

.two_line figure {
    margin: 14px 5px 0 22px;
}

.three_line figure {
    margin: 24px 5px 0 22px;
}

figcaption {
    margin-left: 34px;
    color: #114165;
    font-family: 'arialbi';
    font-size: 17px;
}

.sidebar_right {
    margin-left: 11px;
}

.sidebar_right label {
    display: flex;
    align-items: center;
    margin-left: 23px;
    color: #465961;
    font-size: 13px;
    line-height: 26px;
}

.sidebar_right .bus {
    display: flex;
    width: 136px;
    margin-top: 16px;
    margin-left: 12px;
    border: 1px solid #9e9e9e;
    border-radius: 15px;
    font-size: 15px;
}

.sidebar_right .disk {
    display: flex;
    width: 136px;
    margin-top: 7px;
    margin-left: 12px;
    border: 1px solid #9e9e9e;
    border-radius: 15px;
    font-size: 15px;
}


input[type=checkbox] {
    width: 11px;
    height: 11px;
    margin-right: 16px;
    box-shadow: inset 1px 2px 1px 1px #465961;
}

input[type=submit] {
    margin: 14px 20px;
    padding: 5px 15px;
    border-radius: 13px;
    outline: none;
    background: #154b6d;
    color: #fff;
}

.katalog,
.brends {
    display: flex;
    width: 180px;
    border: 1px solid #9e9e9e;
    border-radius: 25px;
    box-shadow: 8px 7px 10px -5px #9e9e9e;
}

.katalog p,
.brends p {
    margin: 6px 0 0 6px;
    font-size: 13px;
}

.katalog img,
.brends img {
    width: 21px;
    height: 21px;
    margin: 1px;
}

.bus {
    margin-top: 14px;
}

.bus img,
.disk img,
.bolts img {
    width: 23px;
    height: 23px;
    margin: 1px 0 0 3px;
}


.name li {
    list-style-type: circle;
    list-style-position: inside;
}

.stamps {
    display: inline-block;
    margin-top: 42px;
    margin-left: 112px;
}

.stamps img {
    margin: 0 7px 0 6px;
    float: left;
}

.three_line {
    margin-bottom: 27px;
}

/*FOOTER*/

footer {
    margin-top: 17px;
    background-color: #213a4d;
    font-family: 'Arial-Regular.ttf';
}

.foot_menu {
    padding-bottom: 50px;
}

.foot_menu ul {
    display: flex;
    margin-left: 255px;
}

.foot_menu li {
    margin-top: 12px;
    border-right: 2px solid #fff;
    list-style-type: none;
}

.foot_menu a {
    display: block;
    margin: 0 12px 0 15px;
    color: #fff;
    text-decoration: none;
}

.foot_menu a:hover {
    color: #4d9fbd;
}

li.foot_contact {
    border: 0;
}

.foot_menu span {
    display: block;
    color: #704543;
    font-size: 10px;
    text-align: center;
}
